:root {
    /* Palette: Atom One Dark */
    --atom-dark00: #282c34; /* Background */
    --atom-dark01: #abb2bf; /* Foreground */
    --atom-dark02: #e06c75; /* Red */
    --atom-dark03: #98c379; /* Green */
    --atom-dark04: #e5c07b; /* Yellow */
    --atom-dark05: #61afef; /* Blue */
    --atom-dark06: #c678dd; /* Purple */
    --atom-dark07: #56b6c2; /* Cyan */
    --atom-dark08: #be5046; /* Orange */

    /* Palette: Atom One Light */
    --atom-light00: #fafafa; /* Background */
    --atom-light01: #383a42; /* Foreground */
    --atom-light02: #e45649; /* Red */
    --atom-light03: #50a14f; /* Green */
    --atom-light04: #c18401; /* Yellow */
    --atom-light05: #0184bc; /* Blue */
    --atom-light06: #a626a4; /* Purple */
    --atom-light07: #0997b3; /* Cyan */
    --atom-light08: #ca1243; /* Orange */

    /* Typograph */
    --font-family-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-size-scaler: 62.5%;
    --font-size-m: 1.6rem;
    --font-size-s: 1.4rem;

    /* Components (using Atom One Dark by default) */
    --body-color: var(--atom-dark01);
    --body-bg: var(--atom-dark00);

    --header-title: var(--atom-dark01);
    --header-container: var(--atom-dark00);
    --header-title-preffix: var(--atom-dark06);

    --chip-font: var(--atom-dark05);
    --chip-color: var(--atom-dark02);

    --icons: var(--atom-dark01);
    --icons-hover: var(--atom-dark06);

    --day-container: var(--atom-dark01);
    --date: var(--atom-dark05);

    --summary: var(--atom-dark03);
    --summary-hover: var(--atom-dark06);

    --details-open: var(--atom-dark01);
    --details-content: var(--atom-dark01);
    --details-a: var(--atom-dark07);
    --details-a-hover: var(--atom-dark06);

    --highlight-title: var(--atom-dark02);
    --highlight-author: var(--atom-dark02);

    --article-summary-hover-color: var(--atom-dark04);
    --article-summary-color: var(--atom-dark01);

    --article-title-color: var(--atom-dark01);
    --article-title-hover-color: var(--atom-dark03);

    --accordion-content-rail-color: var(--atom-dark01);
    --accordion-content-hover-rail-color: var(--atom-dark04);
    --accordion-title-marker-color: var(--atom-dark01);
    --accordion-title-hover-marker-color: var(--atom-dark03);

    --footer-color: var(--atom-dark01);
    --footer-link-hover-color: var(--atom-dark04);
}

[data-theme="light"] {
    /* Atom One Light Theme */

    --color-primary: var(--atom-light07);
    --color-primary-second: var(--atom-light00);
    --color-info: var(--atom-light05);
    --color-success: var(--atom-light03);
    --color-warning: var(--atom-light04);
    --color-danger: var(--atom-light02);

    --color-text: var(--atom-light01);
    --color-hover: var(--atom-light04);
    --color-shadow: var(--atom-light01);

    --color-primary-h: var(--atom-light05);
    --color-primary-s: var(--atom-light05);
    --color-primary-l: var(--atom-light07);

    --color-contrast-higher-h: var(--atom-light01);
    --color-contrast-higher-l: var(--atom-light01);
    --color-contrast-higher-s: var(--atom-light01);

    --color-content: var(--atom-light00);

    --background: var(--atom-light00);
    --background-content: var(--atom-light00);
    --background-color: var(--atom-light01);

    /* Components (using Atom One Light) */

    --chip-font: var(--atom-light01);
    --chip-color: var(--atom-light05);

    --body-color: var(--background-color);
    --body-bg: var(--background);

    --header-title: var(--color-shadow);
    --header-container: var(--background);
    --header-title-preffix: var(--color-primary-h);

    --icons: var(--color-shadow);
    --icons-hover: var(--color-hover);

    --day-container: var(--background-content);
    --date: var(--color-primary-l);

    --summary: var(--color-info);
    --summary-hover: var(--color-success);

    --details-open: var(--color-content);
    --details-content: var(--color-text);
    --details-a: var(--color-primary-h);
    --details-a-hover: var(--color-hover);

    --highlight-title: var(--color-danger);
    --highlight-author: var(--color-warning);

    --article-summary-color: var(--color-text);
    --article-summary-hover-color: var(--color-primary-s);

    --article-title-color: var(--color-primary);
    --article-title-hover-color: var(--color-success);

    --accordion-content-rail-color: var(--color-warning);
    --accordion-content-hover-rail-color: var(--color-warning);
    --accordion-title-marker-color: var(--color-success);
    --accordion-title-hover-marker-color: var(--color-success);

    --footer-color: var(--color-text);
    --footer-link-hover-color: var(--color-hover);
}


html {
    font-size: var(--font-size-scaler);
}

body {
    background-color: var(--body-bg);
    font-family: var(--font-family-default);
    color: var(--body-color);
    margin: 0;
    padding-top: 16px;
    display: grid;
}

.header-container {
    width: 90%;
    max-width: 1200px;
    background: var(--header-container);
    margin: 0 auto;
}

.header-title {
    font-size: 32px;
    font-weight: bold;
    color: var(--header-title);
    margin: 0;
    padding-bottom: 14px;
}

.header-title-preffix {
    color: var(--header-title-preffix);
}

.icons {
    color: var(--icons);
    padding-bottom: 16px;
}

.icons a {
    color: var(--icons);
    text-decoration: none;
}

.icons a:hover {
    color: var(--icons-hover);
}

.day-container {
    padding: 16px 16px 16px 16px;
    background: var(--day-container);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 8px;
    border-radius: 10px;
}

.date {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    color: var(--date);
}

p {
    margin: 0;
}

summary {
    font-weight: 600;
    color: var(--summary);
}

summary:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--summary-hover);
}

details {
    --border-color: transparent;

    padding: 2px 4px;
    font-size: 20px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

details[open] {
    background-color: var(--details-open);
    margin-bottom: 8px;
}

.details-content {
    padding: 12px 3px;
    gap: 16px;
    color: var(--details-content);
}

details a {
    color: var(--details-a);
}

details a:hover {
    color: var(--details-a-hover);
}

footer {
    margin: 0 auto;
    color: var(--footer-color);
    font-size: var(--font-size-s);
    display: flex;
    padding: 0 16px;
    justify-content: space-between;
}

.description {
    margin: 0 auto;
    color: var(--footer-color);
    font-size: var(--font-size-s);
    display: flex;
    padding: 0 16px;
    text-align: center;
}

.highlight-author {
    color: var(--highlight-author);
    font-weight: bold;
}

.highlight-title {
    color: var(--highlight-title);
    font-weight: bold;
}

.channel-description {
    text-align: center;
    font-size: var(--font-size-scaler);
}

.article-summary-link {
    color: var(--article-summary-color);
    font-size: var(--font-size-s);
    text-decoration: none;
}

.article-summary-link:hover {
    color: var(--article-summary-hover-color);
    --accordion-content-rail-color: var(--accordion-content-hover-rail-color);
}

.article-summary-box-outer {
    display: block;
    padding: 4px 8px 8px 4px;
}

.article-summary-box-inner {
    padding-left: 8px;
    border-left: 1px solid var(--accordion-content-rail-color);
    font-size: var(--font-size-m);
}

.article-expander {
    padding: 10px 4px;
    border-radius: 4px;
}

.article-authors {
    font-size: var(--font-size-m);
    padding: 0.25em 1em;
}

.article-authors a {
    text-decoration: none;
}

.article-expander-title {
    font-size: var(--font-size-m);
    font-weight: 600;
}

.article-expander-title:hover {
    cursor: pointer;
}

.article-expander-title::marker {
    color: var(--accordion-title-marker-color);
}

.article-expander-title:hover::marker {
    color: var(--accordion-title-hover-marker-color);
}

/* for switcher */
.theme-switch {
    display: inline-block;
    position: relative;
}

.theme-switch input {
    display: none;
}

/* chip */
.chip {
    font-size: 90%;
    align-items: center;
    color: var(--chip-font);
    background: var(--chip-color);
    border-radius: 5rem;
    display: inline-flex;
    padding: .2rem .4rem;
    vertical-align: middle;
}
